// $base: #fef2f2;
$base: #feeceb;
;// $base: #fde6e5;

$primary: #fcbcb8;
$primary-dark: #efa7a7;

$secondary: #c7eae4;

$accent: #a7e8bd;

$warn: #ffd972;


$xs: 480px;
$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;