$base: #F6EFFA;

$primary: #3b1051;
$primary-dark: #260d4c;
$primary-light: #803ad8;

$secondary: #96ab1e;
$secondary-dark: #697815;

$accent: #f09e2a;


$xs: 480px;
$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;